.errorComponent
{
    margin: 100px auto auto auto;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items:center;
    justify-content: center;
}
.errorComponent>p
{
    word-break: break-all;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media screen and (max-width:720px) {


    .errorComponent
    {
        padding: 50px;
        align-items: flex-start;
    }
    
}