.offline
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.offlineContainer
{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
}
.offlineContainer>svg{
    width: 20rem;
    height: 20rem;
}
.offlineContainer>p
{
    font-size: 22px;
}
.offlineContainer>ul>li
{
    color: rgb(207, 25, 207);
    font-size: 18px;
}
@media screen and(max-width:720px) {
    .offline
    {
        padding: 30px 30px 50px 30px;
    }
    .offlineContainer>svg
    {
        width: 60%;

    }
    .offlineContainer>p
    {
        word-break: break-all;
    }
    
}